In [1]:
import sys
import os
sys.path.append(os.path.join(os.path.abspath(''), '../'))

from models.random_model import RandomModel
from dataset.data_loader import DataLoader
from utils.utils import get_game_name_and_scores

In [2]:
data_loader = DataLoader(cache_local_dataset=True, user_game_edge_embeddings=['playtime_forever'], game_embeddings=['name'])
data_loader.load_random_train_test_split(train_percentage=0.9, test_percentage=0.1, seed=0)
data_loader.save_data_loader_parameters('test_random_model_data_loader', overwrite=True)

In [3]:
model = RandomModel()
model.set_data_loader(data_loader)
model.train(seed=0)
model.save('test_random_model', overwrite=True)
print(model.get_score_between_user_and_game(76561198835352289, 967050))
display(get_game_name_and_scores(data_loader, model.score_and_predict_n_games_for_user(76561198835352289)[:10]))
display(get_game_name_and_scores(data_loader, model.score_and_predict_n_games_for_user(76561198835352289)[-10:]))

0.10755303818591333

        id                                    name     score
0   592040                                 Energia  0.999966
1  1400290            [Chilla's Art] Hanako | 花子さん  0.999964
2  1229900                          ARIA CHRONICLE  0.999954
3    32380  STAR WARS™ Jedi Knight: Dark Forces II  0.999952
4   496390                                   Shiny  0.999931
5    32410                               Lucidity™  0.999928
6   637410                          Disputed Space  0.999881
7  1527950                                Wartales  0.999822
8   944330                          Hunt and Snare  0.999749
9   816650                           Armor Contest  0.999679

        id                                               name     score
0  1243140                      Hellpoint: The Thespian Feast  0.000251
1  1525660                                           Sunblaze  0.000226
2  1524170              Pixel Game Maker Series Remote Bomber  0.000203
3   546330               SPACE MOUSE 35th Anniversary edition  0.000202
4   416340                             Viking Saga: New World  0.000178
5   619470                     Boss Defiance - Heroic Edition  0.000149
6   613190                                           Unworthy  0.000138
7  1490890  Demon Slayer -Kimetsu no Yaiba- The Hinokami C...  0.000113
8   415390                       Viking Saga: The Cursed Ring  0.000104
9   452970                                         Asemblance  0.000088

In [4]:
model = RandomModel()
model.load('test_random_model')
model.set_data_loader(data_loader)
print(model.get_score_between_user_and_game(76561198835352289, 967050))
display(get_game_name_and_scores(data_loader, model.score_and_predict_n_games_for_user(76561198835352289)[:10]))
display(get_game_name_and_scores(data_loader, model.score_and_predict_n_games_for_user(76561198835352289)[-10:]))

0.1716273651821416

        id                                    name     score
0   592040                                 Energia  0.999966
1  1400290            [Chilla's Art] Hanako | 花子さん  0.999964
2  1229900                          ARIA CHRONICLE  0.999954
3    32380  STAR WARS™ Jedi Knight: Dark Forces II  0.999952
4   496390                                   Shiny  0.999931
5    32410                               Lucidity™  0.999928
6   637410                          Disputed Space  0.999881
7  1527950                                Wartales  0.999822
8   944330                          Hunt and Snare  0.999749
9   816650                           Armor Contest  0.999679

        id                                               name     score
0  1243140                      Hellpoint: The Thespian Feast  0.000251
1  1525660                                           Sunblaze  0.000226
2  1524170              Pixel Game Maker Series Remote Bomber  0.000203
3   546330               SPACE MOUSE 35th Anniversary edition  0.000202
4   416340                             Viking Saga: New World  0.000178
5   619470                     Boss Defiance - Heroic Edition  0.000149
6   613190                                           Unworthy  0.000138
7  1490890  Demon Slayer -Kimetsu no Yaiba- The Hinokami C...  0.000113
8   415390                       Viking Saga: The Cursed Ring  0.000104
9   452970                                         Asemblance  0.000088