In [1]:
import sys
import os
sys.path.append(os.path.join(os.path.abspath(''), '../'))

from models.common_neighbors_model import CommonNeighbors
from dataset.data_loader import DataLoader, playtime_forever_users_games_edge_scoring_function, GaussianNormalizer
from utils.utils import get_game_name_and_scores

In [3]:
# Test Fine Tuning on live data
model = CommonNeighbors()

data_loader = DataLoader.load_from_file('test_evaluation_data_loader', use_published_models_path=True, load_live_data_loader=True)
model.load('evaluation_test_common_neighbors', load_published_model=True)
# data_loader = DataLoader.load_from_file('test_evaluation_data_loader_percentile_scoring', use_published_models_path=True, load_live_data_loader=True)
# model.load('evaluation_test_common_neighbors_percentile_scoring', load_published_model=True)
# data_loader = DataLoader.load_from_file('test_evaluation_constant_scoring', use_published_models_path=True, load_live_data_loader=True)
# model.load('evaluation_test_common_neighbors_constant_scoring', load_published_model=True)

model.set_data_loader(data_loader)
user_to_fine_tune = 76561198103368250 # 76561198166465514 # 76561198835352289 #  #  #
model.fine_tune(user_to_fine_tune, debug=False)
print('Fine Tuned User Output')
print(model.get_score_between_user_and_game(user_to_fine_tune, 367520))
display(get_game_name_and_scores(data_loader, model.score_and_predict_n_games_for_user(user_to_fine_tune)[:10]))
display(get_game_name_and_scores(data_loader, model.score_and_predict_n_games_for_user(user_to_fine_tune)[-10:]))

Fine Tuned User Output
None

       id                                            name          score
0  200260  Batman: Arkham City - Game of the Year Edition  436575.362799
1  219990                                       Grim Dawn  435789.769345
2  356190                   Middle-earth™: Shadow of War™  433507.583355
3  219740                                    Don't Starve  432911.506437
4  582160                       Assassin's Creed® Origins  430703.909444
5  282070                                This War of Mine  430094.035691
6  206420                       Saints Row IV: Re-Elected  428113.956832
7  268500                                         XCOM® 2  428101.322357
8  113200                            The Binding of Isaac  427573.689575
9  313340                                        Mountain  422628.546590

        id                         name  score
0  1904160                  Trainz Plus    0.0
1  1561340                  Berserk Boy    0.0
2  2358260                   Cricket 24    0.0
3  2085000         SaGa Emerald Beyond     0.0
4   693940                     Orrstead    0.0
5  1113400  Alliance of the Sacred Suns    0.0
6  2070220         Yukar From The Abyss    0.0
7  1132730                        巅峰骑士团    0.0
8  1867580     Final Space - The Rescue    0.0
9  1912750                Terra Memoria    0.0

:

In [6]:
data_loader = DataLoader(cache_local_dataset=True, user_game_edge_embeddings=['playtime_forever'], game_embeddings=['name'])
data_loader.load_random_edge_train_test_split(train_percentage=0.9, test_percentage=0.1, seed=0)
data_loader.save_data_loader_parameters('test_common_neighbors_default_data_loader', overwrite=True)

In [7]:
model = CommonNeighbors()
model.set_data_loader(data_loader)
model.train()
# model.save('test_common_neighbors_default', overwrite=True)
print(model.get_score_between_user_and_game(76561198835352289, 967050))
print(model.get_score_between_user_and_game(76561198835352289, 578080))
print(model.get_scores_between_users_and_games([76561198835352289, 76561198835352289], [967050, 578080]))
display(get_game_name_and_scores(data_loader, model.score_and_predict_n_games_for_user(76561198835352289)[:10]))
display(get_game_name_and_scores(data_loader, model.score_and_predict_n_games_for_user(76561198835352289)[-10:]))

None
None
None

       id                              name    score
0     730                  Counter-Strike 2  71449.0
1  578080               PUBG: BATTLEGROUNDS  59440.0
2     550                     Left 4 Dead 2  53780.0
3  218620                          PAYDAY 2  48608.0
4  230410                          Warframe  44627.0
5     570                            Dota 2  43880.0
6  407530  ARK: The Survival Of The Fittest  42185.0
7  304930                          Unturned  41200.0
8  346110             ARK: Survival Evolved  41058.0
9  271590                Grand Theft Auto V  40532.0

        id                                               name  score
0  2443990                                   Engaging Destiny    0.0
1  2384620                        Out of the Park Baseball 25    0.0
2  2085000                               SaGa Emerald Beyond     0.0
3  1597440  Wax Museum - Seek and Find - Mystery Hidden Ob...    0.0
4   693940                                           Orrstead    0.0
5  1113400                        Alliance of the Sacred Suns    0.0
6  2070220                               Yukar From The Abyss    0.0
7  1132730                                              巅峰骑士团    0.0
8  1867580                           Final Space - The Rescue    0.0
9  1912750                                      Terra Memoria    0.0

In [8]:
data_loader2 = DataLoader(cache_local_dataset=True, users_games_edge_scoring_function = playtime_forever_users_games_edge_scoring_function, users_games_edge_score_normalizers = [GaussianNormalizer(1.0, 1.0)], interactions_score_normalizers = [GaussianNormalizer(0.0, 1.0)], user_game_edge_embeddings = ['playtime_forever'])
data_loader2.load_random_edge_train_test_split(train_percentage=0.9, test_percentage=0.1, seed=0)
data_loader2.save_data_loader_parameters('test_common_neighbors_playtime_scored_gaussian_normalized_data_loader', overwrite=True)

In [9]:
model2 = CommonNeighbors()
model2.set_data_loader(data_loader2)
model2.train()
# model2.save('test_common_neighbors_playtime_scored_gaussian_normalized', overwrite=True)
print(model2.get_score_between_user_and_game(76561198835352289, 967050))
print(model2.get_score_between_user_and_game(76561198835352289, 578080))
print(model2.get_scores_between_users_and_games([76561198835352289, 76561198835352289], [967050, 578080]))
display(get_game_name_and_scores(data_loader, model2.score_and_predict_n_games_for_user(76561198835352289)[:10]))
display(get_game_name_and_scores(data_loader, model2.score_and_predict_n_games_for_user(76561198835352289)[-10:]))

None
None
None

       id                             name          score
0     730                 Counter-Strike 2  365288.807478
1  578080              PUBG: BATTLEGROUNDS  132519.744578
2     570                           Dota 2  132091.239007
3  359550  Tom Clancy's Rainbow Six® Siege  117196.823440
4  271590               Grand Theft Auto V  110214.413252
5  230410                         Warframe   97753.847241
6     550                    Left 4 Dead 2   65130.507222
7  582010            Monster Hunter: World   63088.973546
8  322330            Don't Starve Together   56652.203787
9  218620                         PAYDAY 2   55127.233763

        id                                               name  score
0  2443990                                   Engaging Destiny    0.0
1  2384620                        Out of the Park Baseball 25    0.0
2  2085000                               SaGa Emerald Beyond     0.0
3  1597440  Wax Museum - Seek and Find - Mystery Hidden Ob...    0.0
4   693940                                           Orrstead    0.0
5  1113400                        Alliance of the Sacred Suns    0.0
6  2070220                               Yukar From The Abyss    0.0
7  1132730                                              巅峰骑士团    0.0
8  1867580                           Final Space - The Rescue    0.0
9  1912750                                      Terra Memoria    0.0

In [ ]:
# Not Good
# model = CommonNeighborsModelStoragePredictEfficient()
# model.set_data_loader(data_loader)
# model.train(train_network)
# model.save('test_common_neighbors_storage_predict_efficient', overwrite=True)
# model.score_and_predict_n_games_for_user(76561198123307943)

In [ ]:
# Not Good
# model = CommonNeighborsModelLoadPredictEfficient()
# model.set_data_loader(data_loader)
# model.train(train_network)
# model.save('test_common_neighbors_load_predict_efficient', overwrite=True)
# model.score_and_predict_n_games_for_user(76561198123307943)