In [1]:
import sys
import os
sys.path.append(os.path.join(os.path.abspath(''), '../'))

from models.common_neighbors_model import CommonNeighbors
from dataset.data_loader import DataLoader, playtime_forever_users_games_edge_scoring_function, GaussianNormalizer
from utils.utils import get_game_name_and_scores

In [2]:
data_loader = DataLoader(cache_local_dataset=True, user_game_edge_embeddings=['playtime_forever'], game_embeddings=['name'])
data_loader.load_random_edge_train_test_split(train_percentage=0.9, test_percentage=0.1, seed=0)
data_loader.save_data_loader_parameters('test_common_neighbors_default_data_loader', overwrite=True)

In [3]:
model = CommonNeighbors()
model.set_data_loader(data_loader)
model.train()
model.save('test_common_neighbors_default', overwrite=True)
print(model.get_score_between_user_and_game(76561198835352289, 967050))
display(get_game_name_and_scores(data_loader, model.score_and_predict_n_games_for_user(76561198835352289)[:10]))
display(get_game_name_and_scores(data_loader, model.score_and_predict_n_games_for_user(76561198835352289)[-10:]))

8044.0

       id                              name    score
0  578080               PUBG: BATTLEGROUNDS  59440.0
1     550                     Left 4 Dead 2  53780.0
2  218620                          PAYDAY 2  48608.0
3  230410                          Warframe  44627.0
4     570                            Dota 2  43880.0
5  407530  ARK: The Survival Of The Fittest  42185.0
6  304930                          Unturned  41200.0
7  346110             ARK: Survival Evolved  41058.0
8  271590                Grand Theft Auto V  40532.0
9  359550   Tom Clancy's Rainbow Six® Siege  35261.0

        id                                               name  score
0  2443990                                   Engaging Destiny    0.0
1  2384620                        Out of the Park Baseball 25    0.0
2  2085000                               SaGa Emerald Beyond     0.0
3  1597440  Wax Museum - Seek and Find - Mystery Hidden Ob...    0.0
4   693940                                           Orrstead    0.0
5  1113400                        Alliance of the Sacred Suns    0.0
6  2070220                               Yukar From The Abyss    0.0
7  1132730                                              巅峰骑士团    0.0
8  1867580                           Final Space - The Rescue    0.0
9  1912750                                      Terra Memoria    0.0

In [4]:
data_loader2 = DataLoader(cache_local_dataset=True, users_games_edge_scoring_function = playtime_forever_users_games_edge_scoring_function, score_normalizers = [GaussianNormalizer(1.0, 1.0)], user_game_edge_embeddings = ['playtime_forever'])
data_loader2.load_random_edge_train_test_split(train_percentage=0.9, test_percentage=0.1, seed=0)
data_loader2.save_data_loader_parameters('test_common_neighbors_playtime_scored_gaussian_normalized_data_loader', overwrite=True)

In [5]:
model2 = CommonNeighbors()
model2.set_data_loader(data_loader2)
model2.train()
model2.save('test_common_neighbors_playtime_scored_gaussian_normalized', overwrite=True)
print(model2.get_score_between_user_and_game(76561198835352289, 967050))
display(get_game_name_and_scores(data_loader, model2.score_and_predict_n_games_for_user(76561198835352289)[:10]))
display(get_game_name_and_scores(data_loader, model2.score_and_predict_n_games_for_user(76561198835352289)[-10:]))

6171.31619168589

       id                             name          score
0  578080              PUBG: BATTLEGROUNDS  132519.744578
1     570                           Dota 2  132091.239007
2  359550  Tom Clancy's Rainbow Six® Siege  117196.823440
3  271590               Grand Theft Auto V  110214.413252
4  230410                         Warframe   97753.847241
5     550                    Left 4 Dead 2   65130.507222
6  582010            Monster Hunter: World   63088.973546
7  322330            Don't Starve Together   56652.203787
8  218620                         PAYDAY 2   55127.233763
9  292030        The Witcher® 3: Wild Hunt   54587.264911

        id                                               name  score
0  2443990                                   Engaging Destiny    0.0
1  2384620                        Out of the Park Baseball 25    0.0
2  2085000                               SaGa Emerald Beyond     0.0
3  1597440  Wax Museum - Seek and Find - Mystery Hidden Ob...    0.0
4   693940                                           Orrstead    0.0
5  1113400                        Alliance of the Sacred Suns    0.0
6  2070220                               Yukar From The Abyss    0.0
7  1132730                                              巅峰骑士团    0.0
8  1867580                           Final Space - The Rescue    0.0
9  1912750                                      Terra Memoria    0.0

In [ ]:
# Not Good
# model = CommonNeighborsModelStoragePredictEfficient()
# model.set_data_loader(data_loader)
# model.train(train_network)
# model.save('test_common_neighbors_storage_predict_efficient', overwrite=True)
# model.score_and_predict_n_games_for_user(76561198123307943)

In [ ]:
# Not Good
# model = CommonNeighborsModelLoadPredictEfficient()
# model.set_data_loader(data_loader)
# model.train(train_network)
# model.save('test_common_neighbors_load_predict_efficient', overwrite=True)
# model.score_and_predict_n_games_for_user(76561198123307943)